@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: url('./img/resize.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: 50px auto;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 20px auto;
}

.login h1 {
    color: #fff;
    font-size: 50px;
}

.login h2 {
    color: #fff;
    font-weight: 400;
    opacity: 0.7;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

.form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form form input {
    height: 50px;
    width: 300px;
    padding: 20px;
    border: 0;
    outline-color: #fff;
    background-color: #454545;
    border-radius: 5px;
    font-weight: 500;
}

.form form input[type="submit"] {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    color: #fff;
    font-weight: 700;
    height: 50px;
    text-align: center;
}

.form p {
    color: #fff;
    font-size: 15px;
}

.form p a {
    text-decoration: none;
}

.social-m {
    color: #fff;
    font-size: 10px;
    margin-top: 10px;
}

.social {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 30%;
    height: 50px;
}

.social i {
    color: #fff;
    font-size: 20px;
}


img {
    height: 300px;
    width: 300px;
}

.error {
    color: red;
    display: block;
}

